body{background-color: #87BBB3 ;}
h1{color: #EE309E; font-family: Helvetica; font-size: 40;}
p{color: #87BBB3; font-family: Helvetica;font-size: 20pt;}
img{border-style: dotted; boarder-width; 3pt; boarder-color:EE309E;}
a{color: #87BBB3; font-family: Helvetica; font-size:23pt;}
a:hover{color:##87BBB3}
a:visited{color: white;}
